nav {
  display: flex;
  justify-content: space-between;
}

.navBar {
  display: flex;
}

.navBar li {
  list-style: none;
  font-size: 30px;
  margin: 20px 10px;
}
.navBar a {
  text-decoration: none;
}
nav img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 30px;
}
.home-tag p {
  margin-top: 50px;
  text-align: center;
  color: #a9dc76;
  word-spacing: 1px;
  letter-spacing: -0.5px;
}

.tagLine {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 30px auto;
}

.projectsBtn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.projectsBtn a {
  text-decoration: none;
  font-size: 22px;
  color: #a9dc76;
  border: 1px solid #ffa500;
  border-radius: 10px;
  padding: 10px 20px;
  transition: all 0.3s ease;
}

.projectsBtn a:hover {
  border: 1px solid #a9dc76;
  color: #ffa500;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: hsl(0, 0%, 30%);
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  animation: animate__backInDown;
  animation-duration: 2s;
}

header .navBtn {
  padding: 5px;
  margin-top: 30px;
  margin-right: 20px;
  cursor: pointer;
  border: none;
  outline: none;
  display: none;
  opacity: 0;
  color: #fff;
  font-size: 2.8rem;
}

@media only screen and (max-width: 770px) {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  p {
    word-spacing: 1px;
  }

  header .navBtn {
    display: block;
    position: absolute;
    right: 0;
    top: -20px;
    opacity: 1;
  }
  nav img {
    width: 60px;
    height: 60px;
  }
  header li:first-child {
    margin-top: 100px;
  }

  header ul {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    right: 0;
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    transition: 1s;
    transform: translateX(-100vh);
    overflow: hidden;
    background-color: #232222;
    z-index: 1;
  }
  header a {
    text-decoration: none;
    background-color: #232222;
  }

  header ul.active {
    transform: none;
  }

  header .navClose {
    position: absolute;
    background-color: #232222;
    top: 0;
    right: 1rem;
    color: #ffa500;
  }
  .spin {
    animation: spin 1s linear;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .home-tag p {
    margin-top: 50px;
    text-align: left;
  }
  .home-tag p:first-child {
    margin-top: 100px;
    text-align: center;
  }
  h1 {
    font-size: 21px;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 320px) {
  header ul {
    font-size: 14px;
  }

  .home-tag p {
    color: #a9dc76 !important;
  }
  header ul {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    height: auto;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    transition: 1s;
    transform: translateY(-100%);
    overflow: hidden;
    background-color: #232222;
  }
  header a {
    text-decoration: none;
    background-color: #232222;
    line-height: 1.2;
  }
  .home-tag h1 {
    font-size: 25px;
  }
}
