nav {
  display: flex;
  justify-content: space-between;
}

.navBar {
  display: flex;
}

.navBar li {
  list-style: none;
  font-size: 22px;
  margin: 40px 10px;
}
.navBar a {
  text-decoration: none;
}
img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-top: 30px;
  margin-left: 30px;
}
p {
  margin-top: 50px;
  text-align: center;
  font-size: 24px;
  color: #a9dc76;
  word-spacing: 1px;
  letter-spacing: -0.5px;
}

.tagLine {
  text-align: center;
  font-size: 24px;
  color: #a9dc76;
  width: 80%;
  margin: 30px auto;
  text-align: justify;
  word-spacing: -0.05em;
  letter-spacing: -0.5px;
}
.home-tag p {
  color: #a9dc76 !important;
  word-spacing: 1px;
}

.projectsBtn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.projectsBtn a {
  text-decoration: none;
  font-size: 22px;
  color: #a9dc76;
  border: 1px solid #ffa500;
  border-radius: 10px;
  padding: 10px 20px;
  transition: all 0.3s ease;
}

.projectsBtn a:hover {
  border: 1px solid #a9dc76;
  color: #ffa500;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: hsl(0, 0%, 30%);
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 7px;
  text-transform: uppercase;
  background: linear-gradient(
    to right,
    hsl(0, 0%, 30%) 17%,
    hsl(0, 0%, 100%) 20%,
    hsl(0, 0%, 30%) 30%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: wave 5s linear;
  animation-iteration-count: 3;
}

@keyframes wave {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 700px;
  }
  100% {
    background-position: 700px;
  }
}

header .navBtn {
  padding: 5px;
  margin-top: 30px;
  margin-right: 20px;
  cursor: pointer;
  border: none;
  outline: none;
  display: none;
  opacity: 0;
  color: #fff;
  font-size: 2.8rem;
}

@media only screen and (max-width: 770px) {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  p {
    word-spacing: 1px;
  }

  header .navBtn {
    display: block;
    opacity: 1;
  }

  header ul {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    right: 0;
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    transition: 1s;
    transform: translateX(-100vh);
    overflow: hidden;
    background-color: #232222;
  }
  header a {
    text-decoration: none;
    background-color: #232222;
  }

  header ul.active {
    transform: none;
  }

  header .navClose {
    position: absolute;
    background-color: #232222;
    top: 0;
    right: 1rem;
    color: #ffa500;
  }
  .spin {
    animation: spin 1s linear;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  p {
    margin-top: 40px;
    word-spacing: -2px;
  }
  h1 {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 376px) {
  header ul {
    font-size: 1.2rem;
  }
  p {
    word-spacing: -1px;
  }
  .home-tag p {
    color: #a9dc76 !important;
    word-spacing: -1px !important;
  }
  header ul {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    height: auto;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    transition: 1s;
    transform: translateY(-100%);
    overflow: hidden;
    background-color: #232222;
  }
  header a {
    text-decoration: none;
    background-color: #232222;
    line-height: 1.2;
  }
}
