.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects p {
  color: #a9dc76;
  margin-top: 30px;
  margin-bottom: 30px;
}

.project {
  width: calc(50% - 80px);
  padding: 20px;
  margin: 50px 30px 30px 30px;
  border-radius: 5px;
  border-top: 2px solid #7c03f5;
  border-left: 2px solid #7c03f5;
  background: #fff;
  background-size: 3px 100%;
  background-position: left top;
}

.project h3 {
  margin-top: 0;
  text-align: center;
  color: #a9dc76;
  font-size: 30px;
}
.project p {
  margin-top: 15px;
  padding: 10px 5px;
  text-align: center;
  color: #2a2438;
  background-color: transparent;
}

.links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.links-container a {
  margin: 10px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  border: none;
  text-decoration: none;
  background-color: transparent;
  color: #352f44;
  transition: ease-out 1s;
}
.links-container a:hover {
  color: #ffa500;
  transform: scale(1.1);
}
.links-container button {
  margin: 10px;
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  border: none;
  text-decoration: none;
  color: white;
  background-color: transparent;
  transition: ease-out 1s;
}
.links-container button:hover {
  color: #ffa500;
  transform: scale(1.1);
}
.link {
  background-color: transparent;
  color: #352f44;
}

.preview-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.preview-container img {
  width: 100%;
  height: 90%;
  object-fit: contain;
}

.preview-buttons a {
  margin: 10px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  border: none;
  text-decoration: none;
  background-color: transparent;
  color: #352f44;
  transition: ease-out 1s;
}
.preview-buttons button {
  margin: 10px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  border: none;
  text-decoration: none;
  color: #352f44;
  background-color: transparent;
  transition: ease-out 1s;
}

.preview-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

@media screen and (max-width: 768px) {
  .project {
    width: 100%;
  }
  .projects {
    display: grid;
    place-items: center;
  }
  .project p {
    font-size: 16px;
    text-align: left;
  }
  .projects h1 {
    margin-top: 30px;
    font-size: 21px;
  }
  .projects h3 {
    font-size: 18px;
  }
  .preview-container img {
    width: 90%;
    height: 70%;
    object-fit: contain;
    border-radius: 5px;
    margin: auto 5%;
  }
  .preview-buttons button {
    font-size: 24px;
    font-weight: 600;
  }
}

@media screen and (max-width: 320px) {
  .projects h1 {
    margin-top: 20px;
    font-size: 19px;
  }
  .projects h3 {
    font-size: 17px;
  }
  .project p {
    font-size: 14px;
    text-align: center;
  }
}
